
body {
  height: 4000px;
  font-family: arial;
}

.box1-14d {
  background-color: green;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
}

.box2-14d {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.module-14d {
  padding: 10px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.border1-14d {
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
}

.item1-14d {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.item2-14d {
  font-size: 12px;
  margin-bottom: 20px;
}

.button1-14d {
  width: 60px;
}
