body {
  height: 3000px;
  font-family: arial;
}

.header {
  border: 1px solid black;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:70px;
  padding-right: 70px;
  align-items: center;
  justify-content: space-between;
}

.profil{
  margin-right: 11px;
  width: 57px;
  height: 57px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.nama-14e {
  font-size: 20px;
  font-weight: bold;
}

.button1-14e {
  width: 110px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: rgb(10, 108, 194);
  font-weight: bold;
  margin-right: 10px;
}

.button1-14e:hover {
  background-color: rgb(13, 88, 153);
}

.button1-14e:active {
  background-color: rgba(10, 108, 194, 0.7);
}

.button2-14e {
  width: 110px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: gainsboro;
  font-weight: bold;
}

.button2-14e:hover {
  background-color: rgba(220, 220, 220, 0.6);
}

.button2-14e:active {
  background-color: rgb(164, 163, 163);
}